body {
    height: 100vh;
}

header {
    justify-content: center;
    align-content: center;
    height: 20%;
    background: lightslategray;
    margin: 0;
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

.heading {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.stats {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 15%;
    background: lightcyan;
    display: inline-block;
    vertical-align: top;
}

.statDiv {
    justify-content: center;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    height: 10%;
    width: 80%;
    background: lightgrey;
    align-items: center;

}

main {
    border-style: solid;
    border-color: purple;
    border-width: 10px;
    width: 80%;
    background: lightseagreen;
    display: inline-block;
}

.container {
    display: flex;
    border-style: solid;
    border-color: green;
    border-width: 10px;
    width: 98%;
}

.card {
    position: relative;
    height: 160px;
    width: 120px;
}





.back, .dan, .brett, .cody {
    position: absolute;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.back {
    background-image: url(../images/card-back.jpg);
}

.dan {
    background-image: url(../images/dan.jpg);
}

.brett {
    background-image: url(../images/brett.jpg);
}

.cody {
    background-image: url(../images/cody.jpg);
}


/* .modalContainer {
    height: 100vh;
    width: 100vw;
	border: 2px solid #aaa;
} */


.modal-shadow {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .4;
    left: 0;
    top: 0;
    z-index: 0;
}
.modal {
    position: fixed;
	width: 100px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	border: 10px solid #aaa;
	border-radius: 15px;
    text-align: center;
    z-index: 1;
    transform: translate(0%, 0%);
    top: 50%;
    left: 50%;
    display: flex;

    font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.modal-message{
    font-family: Arial, sans-serif;
	background: #ddd;

  margin: auto;
}




.button {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid #aaa;
	background-color: #eee;
	background-image: linear-gradient(top, #fff, #f0f0f0);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	color: #666;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	transition: all 0.2s ease-out;
  &:hover {
    border-color: #999;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  }
  &:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  }
}

/*keep' HIDDEN selector at the bottom! */

.hidden {
    display: none;
}
