@font-face {
	font-family: "Akzidenz-Grotesk H1";
	src: url("../fonts/AkzidenzGrotesk-Extended.otf") format("opentype");
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/background.jpg");
	background-position: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;

	/* can 18-20 below be deleted? */
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

header {
	height: 16vh;
	width: 100vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.heading {
	font-family: "Akzidenz-Grotesk H1", Helvetica, Arial, serif;
	font-size: 4.2vw;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 0;
}

.content {
	height: 84vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

main {
	display: flex;
}

.container {
	box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1), 0 1rem 1rem .5rem rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-image-source: url("../images/woodgrain1.jpg");
	border-image-width: 100% ;
	border-image-slice: 20% 100%;
	border-style: solid;
	padding: .3%;
	margin-left: 6.4vw;
	margin-bottom: 11vh;

}
.card {
	position: relative;
	width: calc(100% / 6);
}

.face {
	width: 100%;
	height: 100%;
	padding: 4%;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
}

aside {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: center;
	justify-content: space-between;
	padding-top: 8px;
}

.stats-text {
	position: relative;
/* DELETE LINE BELOW? */
	display: inline-block;

	font-family: "Akzidenz-Grotesk H1", Helvetica, Arial, serif;
	font-weight: 100;
	font-size: 1.5vw;
	letter-spacing: .038vw;
	line-height: 145%;
	align-self: center;
	text-transform: uppercase;
}


.turntable {
	z-index: -1;
	width:23.5vw;
}



.modal-shadow {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.4);
    left: 0;
    top: 0;
    z-index: 0;
}

.modal {
	position: fixed;
	width: 50%;
	/* height: 50%; */
	padding-top: 10%;
	text-align: center;
	z-index: 2;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background: white;
	font-family: "Akzidenz-Grotesk H1", Helvetica, Arial, serif;
	font-weight: 100;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	margin: 20px;
	z-index: 5;
}

.hidden {
    display: none;
}

.video {
	margin: 50px;
	width: 80%;
	height: 80%;
	z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}



/* NO ASIDE */
@media (max-aspect-ratio: 100/70) {
	.container {
		margin-right: 6.4vw;
	}
	aside {
		display: none;
	}
}

/* STATS ABOVE SHELF */
@media (max-aspect-ratio: 100/81) {
	main {
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: baseline;
	}

	aside {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

	.stats-text{
		display: block;
		font-size: 2.2vh;
		align-self: center;
	}

	.turntable {
		display: none;
	}
}


/* VERTICAL STACK */
@media (max-aspect-ratio: 98/100) {

	header {
		height: 4rem;
	}

	.content {
		height: calc(100vh - 4rem);
	}

	main {
		height: unset;
		flex-direction: row;
		justify-content: flex-end;
		padding-right: 1vw;
	}

	.container {
		width: 42vh;
		margin-right: 3vw;
		margin-bottom: 3vw;
	}

	.card {
		width: calc(100% / 3);
	}

	aside {
		justify-content: space-between;
	}

	.stats {
		padding-top: 200px;
	}

	.stats-text {
		font-size: 2.3vw;
	}

	.turntable {
		display: flex;
		width: 35vw;
	}
}


@media (max-aspect-ratio: 70/100) {
	header {
		justify-content: center;
		align-content: center;
		text-align: center;
		align-items: center;
		height: 15rem;
		padding-left: 8vw;
		padding-right: 8vw;
		padding: 0;
		margin: 0;
	}

	.heading {
		font-size: 7.5vw;
		line-height: 8.5vw;
	}

	.content {
		height: calc(100vh - 15rem);
	}

	main {
		justify-content: center;
	}

	.container {
		margin: 0;
		max-width: 36vh;
		margin-bottom: 12vw;
	}

	aside {
	display: none;
	}
}
